.contenedor1{
    background-color: #EE1B24 !important;
    color: beige;
    display: flex;
}
.contenedor1{
    text-align:center;
    justify-items: center;
}

.img_mac{
    width: 50%;
}

.boton{
    border-radius: 20%;
    color: beige;
    background-color: rgb(7, 23, 58) !important;
    
}


.objetos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}



.item{
  background-color: #fff;
  border-radius: 20px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
    
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price{
    font-size: 15px;
    font-weight: 900;
}


.info-product button{
    border: none;
    border-radius: 10px;
    background-color: #ffb3b3;
    color: #000000;
    padding: 15px 10px;
    cursor: pointer;
    

}

.iconocss{
    width: 400px;
    height: 2500px;
}
