
body{
    background-color: white;
    font-family: 'Poppins', sans-serif;

}
main{
    margin-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 200;
    border: 1px solid #d5d5d5 !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 17px 17px -20px, rgba(255, 255, 255, 0.1) 0px 0px 10px -20px;
}

.centrar{
  padding-top: 6%;

}

.img_login{
    width: 100%;
}


a{
    text-decoration: none !important;
    color: #1C95B4 !important;
}

.btn-primary{
    border-color: #002333 !important;
    background-color: #002333 !important;
    width: 100%;
}

.rating input::before{
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
}
